extends base.pug
block style 
    style 
        include ../static/style.css
        include ../static/aboutstyle.css
block content 
    div.container
        div.main 
            img(src="static/bg.jpg", alt="")
            h1 僕のダンスアカデミア
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, voluptas. Dolores, tenetur! Sint esse maxime blanditiis velit suscipit vitae quasi laudantium quisquam animi eos nesciunt, facere, laboriosam repellendus, magni sunt tempora quo eaque omnis commodi qui ratione illo excepturi. Molestiae aspernatur mollitia voluptatum obcaecati nulla atque neque incidunt, dignissimos assumenda!
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, voluptas. Dolores, tenetur! Sint esse maxime blanditiis velit suscipit vitae quasi laudantium quisquam animi eos nesciunt, facere, laboriosam repellendus, magni sunt tempora quo eaque omnis commodi qui ratione illo excepturi. Molestiae aspernatur mollitia voluptatum obcaecati nulla atque neque incidunt, dignissimos assumenda!
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, voluptas. Dolores, tenetur! Sint esse maxime blanditiis velit suscipit vitae quasi laudantium quisquam animi eos nesciunt, facere, laboriosam repellendus, magni sunt tempora quo eaque omnis commodi qui ratione illo excepturi. Molestiae aspernatur mollitia voluptatum obcaecati nulla atque neque incidunt, dignissimos assumenda!
        div.aside 
            img(src="static/images/pngdan.png")
            h1 Director's Corner
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores aliquam sit ex, quos vero itaque, cum eligendi quidem perferendis, accusantium odio debitis? Eligendi illo neque vel sunt impedit sequi blanditiis eaque perspiciatis sed voluptates atque ullam porro rem, quasi fuga maxime cupiditate eos consectetur, mollitia sapiente excepturi adipisci voluptatibus odit?