doctype html
html
    head 
        title 僕のダンスアカデミア-Best Dance Acadamy in patna
        block style
        block script
    body
        nav#navbar.top
            ul
                li #[a(href="/") Home]
                li #[a(href="/about") About ]
                li #[a(href="/services") Services ]
                //- li #[a(href="/class") Class Info]
                li #[a(href="/contact") Contact Us ]
        block content 
        footer#footer
            div Copyright © 2021 僕のダンスアカデミア｜All Rights Reserved