extends base.pug

block style 
    style 
        include ../static/style.css
        include ../static/contactstyle.css
block script 
    script(src="/static/index.js") 
block content 
    div.container
        h1 Contact Us
        form(action="/contact", method='POST')
            input.myinput(name='name', type='text', placeholder="Enter Your Name")
            input.myinput(name='phone', type='phone', placeholder="Enter Your Phone")
            input.myinput(name='email', type='email', placeholder="Enter Your Email")
            input.myinput(name='address', type='text', placeholder="Enter Your Address")
            input.myinput(name='desc', type='text', placeholder="Enter Your Concern")
            button.btn 
                | Submit
        div.last=thankyou
