extends base.pug

block style 
    style 
        include ../static/style.css
        include ../static/styleservices.css

block content 
    h1 Our Services 
    div.container
        img(src="/static/bg.jpg")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima officia consectetur dolorem similique optio expedita, provident perferendis. Quasi labore dicta dolores voluptatibus fugiat explicabo, soluta voluptas cupiditate sit, minus nemo laborum magni enim tenetur rerum libero facilis, porro ipsa ab? Eligendi qui vitae ducimus aliquid, atque voluptatem sit error veritatis libero. Perspiciatis tempora molestiae tenetur, enim ratione possimus alias maiores animi perferendis optio reprehenderit! Temporibus harum, aliquid, reiciendis voluptatibus laborum, accusantium aut modi nostrum officia ipsum perferendis soluta corrupti voluptas odit delectus saepe beatae rerum quis praesentium. Iusto necessitatibus laborum ea facere laudantium minima quisquam, iure natus molestiae recusandae rem rerum maiores vitae excepturi est assumenda nobis! Laborum praesentium rem suscipit aliquid molestiae nisi vel dolorem in earum at recusandae iusto alias harum sint deleniti voluptatibus repellat quisquam, quo molestias perferendis dicta quis corrupti! Molestias quos excepturi quisquam nam quas! Omnis doloremque commodi optio ipsam perspiciatis? Voluptatem adipisci nemo, cumque pariatur quisquam dolorem, deleniti tenetur labore natus distinctio maxime, nostrum maiores. Animi expedita consequuntur sapiente voluptas, saepe porro cum quibusdam laudantium. Natus, necessitatibus deleniti! Officiis quos beatae aspernatur eos nobis tempora modi, error debitis minima voluptas expedita nemo porro consectetur dolorum assumenda illum ut eum natus veniam, optio voluptatem laborum!